# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
*.ipynb_checkpoints

# macOS
.DS_Store

# SQLite DB
*.db

# Jupyter checkpoints
.ipynb_checkpoints/

# Logs and data
*.log
*.csv
*.zip
*.geojson
data/

# Models
*.pkl

venv/
venv311/